@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


.text {
    font-family: "Lora", serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.nav-bar {
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    background-color: rgb(240,240,240); 
    color: #333333; 
    z-index: 1000; 
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); 
}

.nav-content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto; 
    padding: 0 20px; 
    max-width: 1200px; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: skyblue;
    color: white;
    padding: 1.5vmin;
    font-size: 2vmin;
    border: none;
}

.content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 2vmin;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.content a {
    display: block;
    padding: 12px;
    margin: 8px 0;
    text-decoration: none;
    color: #333;
}

.content a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .content {
    display: block;
}

.home {
    background-image: url("https://i.postimg.cc/Gmk49ny3/blue-sky-clouds-anime-style-600nw-2157978867.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vmin;
    width: 100vw;
}

.projects {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.project-container {
    text-align: center;
}

#proj-section {
    padding-top: 30px;
    padding-bottom: 40px;
}

.welcome {
    color: white;
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    text-decoration: none;
}

.photo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.photo {
    width: 50px;
    height: auto; 
    margin-bottom: 10px; 
}

.other-photo {
    height: 5vmin;
    width: 5vmin;
}

.projects-pic:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.01);
    cursor: pointer;
}

.projects-pic {
    height: 35vmin;
    width: 35vmin;
}

.titles {
    color: skyblue;
    text-align: center;
    font-style: italic;
    font-size: 3vmin;
}

.contact {
    list-style-type: none;
    background-color: rgb(240,240,240);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.technologies {
    background-color: rgb(240,240,240);
    border-top: 1px solid black;
}

.technologies p {
    line-height: 2;
}

.about-me {
    border-top: 1px solid black;
    margin-bottom: 4vmin;
}

.about-me p {
    line-height: 2;
}

.apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px; 
    justify-content: center;
}

.tech-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tech-item p {
    margin-top: 10px;
}

#para {
    text-align: center;
    font-size: 20px;
}

#contact-section {
    padding-top: 30px;
    padding-bottom: 40px;
}

#me-section, #tech-section {
    padding-top: 10px;
    padding-bottom: 40px;
}

#form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form input {
    margin-bottom: 10px;
    width: 300px;
    height: 50px;
}

#resume {
    background-color: lightblue;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 12px;
    padding-bottom: 7px;
    text-align: center;
    font-size: 30px;
    border-radius: 15%;
}

#resume:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.01);
    cursor: pointer;
    background-color: white;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    perspective: 1000px; 
    overflow: hidden;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    background-color: #d3d3d3;
    color: #333333;
    transform: rotateY(180deg);
    font-size: 13px;
}

.flip-card-back h1 {
    margin-bottom: 10px;
}

.flip-card-back p {
    margin-bottom: 10px;
}

#home-section h2 {
    font-style: italic;
    font-size: 35px;
}

.contact-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.contact-group, .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 5px 0; 
}

.contact-item img, .contact-item span {
    margin-right: 10px; 
}

.contact-group h3 {
    padding-bottom: 15px;
    text-decoration: underline;
}